<div class="tab-agenda">
       <table class="table table-hover table-responsive">
         <thead>
           <tr>
             <th scope="col">Nombre</th>
             <th scope="col">Telefono</th>
             <th scope="col">Marcaje</th>
             <th scope="col">Otros....</th>
           </tr>
         </thead>
         <tbody>
           <!-- <tr *ngFor="let item of agenda">
             <th>{{item.nombre}}</th>
             <th>{{item.telefono}}</th>
             <th>{{item.marcaje}}</th>
             <th>{{item.otros}}</th> -->
           <!-- </tr> -->
         </tbody>
       </table>
</div> -->
