<div class="cuadrado"></div>
<div class="moon"></div>

<div class="box">
  <div class="sidebar">
    <div class="burbuja"></div>
    <div class="burbuja-2"></div>
    <div class="sidebar-header">
      <div class="logo">
        <i class="bi bi-emoji-angry"></i>
        <span>Sistema Documental</span>
      </div>
      <button id="btn" class="btn" (click)="toggleSidebar()"><i class="bi bi-list"></i></button>
    </div>
    <div class="search">
      <input type="text" name="search" [(ngModel)]="search" (ngModelChange)="filterMenu()" class="search-in" placeholder="Buscar...">
      <button class="btn-search"><i class="bi bi-search"></i></button>
    </div>
    <ul>
      <li *ngFor="let item of menu" [ngClass]="{'active': item.active}" (click)="changePage(item)">
        <i [class]="item.icono"></i>
        <span>{{item.nombre}}</span>
        <div class="tooltips">{{item.nombre}}</div>
      </li>
    </ul>
    <div class="sidebar-footer">
      <i class="bi bi-box-arrow-left" style="color: white;"></i>
      <span>Logout</span>
      <div class="tooltips">Cerrar Sesión</div>
    </div>
</div>
  <div class="rect-2"></div>
  <div class="rect"></div>
  <div class="rect-1"></div>
</div>


