
/* **** */
.container{
    /* position: absolute; */
    /* top: 4%;
    left: 4%;
    right: 4%;
    bottom: 6%; */
    /* background-color: #89cfebd8; */
    border-radius: 1em;
}

.bordes {
    border-radius: 1em; 
    background-color: white;
}


.container table {
    width: 100%;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.texto{
    font-family: digital-font;
    font-size: 1.7em;
    color: #00658d;
}
.datefecha{
    margin-right: 10px;
}

.tabla-mensaje {
    max-height: 60vh;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    scrollbar-width: thin;
    }

.seleccionar {
    font-family: quisnue;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.seleccionar label {
    font-weight: 550;
}

.select:invalid {
    color: gray;
}

.table-header {
    background-color: #00658d;
    color: white;
}
 input[type=date]{
-moz-appearance: textfield;
padding: 8px;
}
/*
::-webkit-datetime-edit-month-field:not([aria-valuenow]) 
,::-webkit-datetime-edit-day-field:not([aria-valuenow]),
::-webkit-datetime-edit-year-field:not([aria-valuenow]){
    color: transparent;
} */

.in {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    /* color: hsl(0, 0%, 34%); */
    border-radius: 0.5em;
}

.btn-borrar {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 10px;
    color: white;
    background-color: #00658d;
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0.3em;
    transition: all .3s ease-in-out;
    font-size: 1.2em;
}

.btn-borrar:hover {
    transition: all .3s ease-in-out;
    background-color: #013e57;
}

.btn-borrar:disabled {
    cursor: not-allowed;
    background-color: hsla(0, 0%, 34%, 0.555);
}

.btn-ejecutar {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    background-color: #00658d;
    color: white;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0.5em;
}
.btn-ejecutar:focus {
    outline: 0;
}
.btn-ejecutar:hover {
    background-color: #013e57;
}

.btn-ejecutar::before, .btn-ejecutar:after {
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.btn-ejecutar:active {
    transform: scale(0.9);
    background-color: darken(#018abe, 5%);
    box-shadow: 0 2px 25px rgba(0, 119, 255, 0.5);
}


.mensaje {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    color: hsl(204, 4%, 78%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.paginador{
text-align: center;
}

/* Chrome, Edge, and Safari */
.tabla-mensaje::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.tabla-mensaje::-webkit-scrollbar-track {
    background: transparent;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.tabla-mensaje::-webkit-scrollbar-thumb {
    background-color: #b7b5b5;
    border-radius: 3px;
    border: 30px none transparent;
}

::-moz-scrollbar-track{
    -webkit-border-radius: 6px;
    border-radius: 6px
}
::-moz-scrollbar-thumb{
    -webkit-border-radius: 6px;
    border-radius: 6px
}
